PORT_3002=3002
PORT_3003=3003

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=123456
DB_NAME=slope_monitoring

JWT_SECRET=please-change-this-secret
JWT_EXPIRES_IN=24h

UPLOAD_MAX_SIZE=20971520
CLEAR_SLOPE_DATA_PASSWORD=clear_slope_data_2026
